#container{
    height: 100vh;
    /* width: 500px; */
    grid-template-columns:repeat(12, 1fr) ;
    grid-template-rows: repeat(12, 1fr) ;
    display: grid;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
    background-color: white;
}

.header{
    grid-column: 1/ span 12;
    background-color: pink;
}

.sidebar{
    grid-column: 1/span 3;
    grid-row: 2/ span 10;
    background-color: pink;
}

.navigation{
    grid-column: 4/ span 6;
    background-color: pink;
}

.ads{
    grid-column: 10/ span 3;
    grid-row: 2/ span 10;
    background-color: pink;
}

.main{
    grid-column: 4/ span 6;
    grid-row: 3/ span 9;
    background-color: pink;
}

.footer{
    grid-column: 1/ span 12;
   background-color: pink;
}