 div{
    background-color: blueviolet;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    transition-duration: 2s ;
    border-radius: 30px;
    transition-duration:5s ;
    margin-top: 50px;
    margin-left: 50px; 

}
 div:hover{
    background-color: rgb(185, 134, 234);
    border-radius: 50%;
}

 div{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
  
    box-shadow: 10px 10px 10px rgb(84, 53, 112);
} 

/* div{
 height: 400px;
 width: 600px;   
 background-color: rgb(3, 3, 60);
 margin: 10px auto;
 background-image: url("image.jpg");
 background-size: cover;
 color: rgb(227, 21, 21);
}  */